body {
    background-color: #f0f2f5;
}
.card {
    border: none;
    border-radius: 15px;
    background-color: #ffffff;
}
.card-header {
    background-color: #343a40;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    padding: 1.5rem;
}
.btn-primary {
    background-color: #343a40;
    border: none;
    padding: 10px;
}
.btn-primary:hover {
    background-color: #212529;
}
